body {
    padding: 0;
    margin: 0;
    border-radius: 0;
    box-sizing: border-box;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(167, 159, 159);
}
.face {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 30px;
    background-color: rgb(209, 223, 15);
    &:hover .eye::before {
        transform: translate(18px, 20px);
    }

    &:hover::before {
        height: 60px;
        width: 130px;
        background-color: #f0b64b;

        top: 160px;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
    }
    &::before {
        content: "";

        height: 20px;
        width: 130px;
        background-color: #f0b64b;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        position: absolute;
        top: 180px;
        left: 60px;
        transition: all 0.5s;
    }

    .eyes {
        position: relative;
        top: -40px;
        display: flex;

        .eye {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: #fff;
            margin: 0 15px;
            position: relative;
            &::before {
                content: "";
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: #000;
                position: absolute;
                top: 4px;
                transition: all 0.5s;
            }
        }
    }
}
.face-2 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(209, 223, 15);
    &:hover .eye::before {
        transform: translate(30px, 20px);
    }

    &:hover::before {
        top: 160px;
        height: 60px;
        width: 60px;
        border-radius: 50px;
    }
    &::before {
        content: "";
        height: 20px;
        width: 60px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: #e69809;
        position: absolute;
        top: 180px;
        left: 95px;
        transition: all 0.5s;
    }
    .eyes {
        position: relative;
        top: -40px;
        display: flex;

        .eye {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: #fff;
            margin: 0 15px;
            position: relative;

            &::before {
                content: "";
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: #000;
                position: absolute;
                top: 4px;
                transition: all 0.5s;
            }
        }
    }
}
