body {
  padding: 0;
  margin: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background: #a79f9f;
}

.face {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin: 0 30px;
  background: #ed0e0e;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(12%, rgba(237, 14, 14, 0.890931)), color-stop(46%, rgba(227, 255, 0, 0.949755)));
  background: linear-gradient(180deg, rgba(237, 14, 14, 0.890931) 12%, rgba(227, 255, 0, 0.949755) 46%);
  -webkit-transition: all 2ms;
  transition: all 2ms;
}

.face:hover {
  background: #d1df0f;
}

.face:hover .eye::before {
  -webkit-transform: translate(18px, 20px);
          transform: translate(18px, 20px);
}

.face:hover::before {
  height: 60px;
  width: 130px;
  background-color: #f0b64b;
  top: 160px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

.face::before {
  content: "";
  height: 20px;
  width: 130px;
  background-color: #f0b64b;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  position: absolute;
  top: 180px;
  left: 60px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.face .eyes {
  position: relative;
  top: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.face .eyes .eye {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  margin: 0 15px;
  position: relative;
}

.face .eyes .eye::before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.face-2 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-color: #d1df0f;
}

.face-2:hover .eye::before {
  -webkit-transform: translate(30px, 20px);
          transform: translate(30px, 20px);
}

.face-2:hover::before {
  top: 160px;
  height: 60px;
  width: 60px;
  border-radius: 50px;
}

.face-2::before {
  content: "";
  height: 20px;
  width: 60px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #e69809;
  position: absolute;
  top: 180px;
  left: 95px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.face-2 .eyes {
  position: relative;
  top: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.face-2 .eyes .eye {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  margin: 0 15px;
  position: relative;
}

.face-2 .eyes .eye::before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.face-3 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin: 0 30px;
  background: #ed0e0e;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(12%, rgba(237, 14, 14, 0.890931)), color-stop(46%, rgba(227, 255, 0, 0.949755)));
  background: linear-gradient(180deg, rgba(237, 14, 14, 0.890931) 12%, rgba(227, 255, 0, 0.949755) 46%);
}

.face-3:hover .eye::before {
  -webkit-transform: translate(-6px, -10px);
          transform: translate(-6px, -10px);
}

.face-3:hover::before {
  top: 160px;
  height: 60px;
  width: 60px;
  border-radius: 50px;
}

.face-3::before {
  content: "";
  height: 20px;
  width: 60px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #e69809;
  position: absolute;
  top: 180px;
  left: 95px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.face-3 .eyes {
  position: relative;
  top: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.face-3 .eyes .eye {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  margin: 0 15px;
  position: relative;
}

.face-3 .eyes .eye::before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: 50%;
  left: 32%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/*# sourceMappingURL=style.css.map */